@import "bower";
@import "variables";
@import "typography";
@import "modals";
@import "sidebar";


html, body {
  margin: 0;
}



#map-canvas {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}
 
img {
  height: 300px;
  size: contain;
}
